:root {
  --global-font-family: "Roboto", Helvetica, Arial, sans-serif;
  --global-button_color_pink-background-color: #e53167;
  --global-button_color-color: #ffffff;
  --global-border_color-border-color: #afbed3;
  --global-blue_color-color: #3480e3;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: var(--global-font-family);
}
footer {
  background-color: var(--global-blue_color-color);
  color: white;
  text-align: center;
  font-weight: lighter;
  padding: 0.2%;
  font-size: small;
}

.wrapper {
  background-image: url(../media/images_blogs/Blog.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-wrapper {
  padding-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

#first_blog {
  margin-top: 17%;
  margin-bottom: 4%;
}

#second_blog {
  margin-top: 4%;
  margin-bottom: 4%;
}

.image-container {
  padding-left: 11%;
  padding-right: 11%;
}

.blog img {
  border-radius: 25px;
}

.blog {
  box-shadow: 0 0 10px 0.2px #3480e3;
  border-radius: 25px;
  margin: 2%;
}

#blogs {
  text-align: -webkit-center;
  margin-top: 4%;
  margin-bottom: 3%;
}

#brief {
  font-size: 18px;
  font-weight: 500;
  color: var(--global-blue_color-color);
  letter-spacing: 0.044em;
  text-align: left;
  padding-left: 11%;
  padding-top: 3%;
}

#info {
  color: black;
  letter-spacing: 0px;
  font-size: 15px;
}

.row-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#space {
  padding-top: 50px;
  padding-bottom: 50px;
}

#font18 {
  font-size: 18px;
}

#font20 {
  font-size: 20px;
}

/*button*/

button {
  border-width: 0px;
}

#button1 {
  border-radius: 20px;
  background-color: var(--global-button_color_pink-background-color);
  color: var(--global-button_color-color);
  text-align: center;
  width: wrap-content;
  padding: 6px 18px;
}
#button2 {
  border-radius: 20px;
  background-color: #ffffff;
  color: grey;
  text-align: center;
  width: wrap-content;
  padding: 6px 3px;
}

/*button end*/

/*navbar*/

#navbar-content {
  justify-content: flex-end;
}

.nav-item {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 17px;
  font-weight: 10px;
}

#cclogoright {
  color: var(--global-blue_color-color);
  opacity: 82%;
  font-size: 28px;
  letter-spacing: 0.07em;
}

/*nav*/

@media (max-width: 435px) {
  .inner-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
}
